
.rodapé{
    display: grid;
    justify-items: center;
    padding: 30px 45px;
    padding-bottom: 60px;
    border-top: 7px solid #F80032;
    background: #F8D878;
    color: #F80032;
}


.sobre{
  display: flex; 
  justify-content: space-around;
  padding-bottom: 50px;
  color: #790018;
}

.sobre div{
 width: 40%;
}

.sobre h1{
  font-size: 50px; 
  padding: 10px; 
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sobre h2{
  font-size: 20px;

  font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.pé{
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}

.pé div h1{

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: 32px ;
}

.pé div h1 a{
    color: #790018;
    text-decoration: underline;
    font-size: 32px;
    transition: 0.2s;
}

.pé div h1 a:hover{

    background: linear-gradient(to left,#6f7e28,#867233,#943047,#6f7e28);
    background-size: 400% 300%;
    animation: degra 10s linear infinite alternate;
    
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;

    text-decoration: underline;

}

.pé div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.pé div div a ion-icon {
font-size: 55px;
color: #790018;
transition: 0.2s;
}


.pé .pri,.pé .two{
    display: grid;
    justify-items: start;
    padding-left: 60px;
    gap: 25px;
    width: 50%;
}

.pé .b1:hover{
    color: #FF0000;
}

.pé .b2:hover{
   color: #C44E98;
}

.pé .b3:hover{
    color: #0073B2;
}    


.pé .two .vot{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: 32px ;
    color: #F80032;
    transition: 0.2s;
}


.pé .two .vot:hover{
    color:  #8d001c;
}
